<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>메인</title>
    <th:block th:include="/fragment/header.html"></th:block>
</head>
<body>

<div class="wrapper">
    <div  class="top" th:include="/fragment/general.html::sidebar"></div>
    <!-- Page Content  -->
    <div id="content">
        <div  class="top" th:include="/fragment/general.html::topbar"></div>
        <div class="contentCollaps">
            asdfasdfasfd
        </div>
    </div>
</div>
</body>
</html>