<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>홈</title>
    <script type="text/javascript" src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/base.js"></script>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
<div class="container" style="width: 100%;">
    <!-- 페이지 헤더 영역-->
    <div  class="top" th:include="/fragment/general.html::header"></div>
    <!-- 사이드 네비 영역-->
    <div  class="left" th:include="/fragment/general.html::sidenav"></div>
    <!-- 컨텐츠 영역-->
    <div class="body">

    </div>
</div>
</body>
</html>